:root {
    color-scheme: dark;

    --gray: rgb(160, 160, 160);
    --dark-gray: rgb(24, 24, 24);
    --dark-gray-2: rgb(48, 48, 48);
    --dark-gray-3: rgb(96, 96, 96);

    --gold: #d29a38;
    --blue: rgb(105, 166, 213);
    --red: #c40000;
}