@import "colors.css";
@import "nav.css";

body {
    background-color: black;
    overflow-y: default;
}

#viewport-container {
    height: 100%;
    margin: 1%;
}

#chart-wrapper {
    max-height: 88vh;
}

input[type=text] {
    width: 10%;
    border: 2px solid var(--dark-gray-2);
    background-color: var(--dark-gray-2);
    border-radius: 4px;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid var(--gold);
}